QWidget {
    margin: 0;
    padding:0;
}

QPushButton {
    padding: 5px 10px;
}

QMainWindow {
   background:white;
   padding-top:5px;
}

QTabBar::tab  {
    background:rgb(220,220,220);
    color:black;
    border-color:black;
    border-style: solid;
    border: 1px solid gray;
    padding: 5px 5px 5px 5px;
    height:20px;
}

QTabBar::tab:selected  {
    background:white;
}

QTabWidget::pane {
    border:none;
}

QLineEdit {
    border: 1px solid gray;
    padding: 5px 3px 5px 3px;
}

#tb_spacer, QAction {
    background: rgb(180, 180, 180);
}

QToolbar {
    padding: 5px;
    background: rgb(180, 180, 180);
}

QStatusBar {
    background: rgb(58,58,58);
    color:white;
}

#status_label {
    color:white;
}

#tree_query_input {
    margin-bottom:5px;
    border: 1px solid gray;
    height:20px;
}

#data_tree {

}

AxNodeWidget {
    border: 1px solid black;
    background: rgb(236,236,236);
}

#__creator_workflow_widget {
    background: red;
}

#node_remove_btn {
    margin: 5px;
}

#node_title {
    font-weight:bold;
    padding: 5px 0;
    margin-bottom : 5px;
}

QGroupBox {
    padding: 15px 10px;
}